
  {{#if (isUser user.id userID)}}
  <h3 class="blog-name">Edit Post</h3>

      <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Title</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" value="{{Title}}"/>
      </div>
      <div class="form-group">
        <label for="blog-content">Content</label>
        <textarea class="form-input" id="blog-content" name="blog-content">{{Content}}</textarea>
      </div>
      <div class="form-group button">
        <button type="submit" class="btn btn-update">Update Post</button>
      </div>
            <div class="form-group button">
        <button type="submit" class="btn btn-delete">Delete</button>
      </div>
    </form>
  
  {{else}}
    <h3 class="blog-name">{{Title}}</h3>
    <section class="flex-row justify-center">
      <article>{{Content}}</article>
    <button class="btn-primary add-comment">Add Comment</button>
    <form class="hidden-form" hidden>
      <div>  
      <label for="comment">Comment</label>
      <textarea name="form-comment" id="comment" cols="30" rows="10"></textarea>
      </div>
      <div>
        <button type="submit" class="btn-primary">Submit</button>
      </div>
    </form>
      <article class="comment-card">
    {{#each comments}}
      {{> comment-details}}
    {{/each}}
      </article>
    </section>
  {{/if}}


<script src="/js/blog.js"></script> 

